#inventions-list {
    height: 94vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
#map {
    height: 94vh;
}
.nav-item.point:hover {
    background-color: #ccc;
}
.nav-item.point .nav-link {
    cursor: pointer;
}