<header id="header" class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light flex-row bd-navbar">
      <a class="navbar-brand">
          <img id="logo" src="./assets/images/mapbox-icon.png"/>
      </a>
        <ul class="nav">
          <li class="nav-item">
            <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a>
          </li>
          <ng-template [ngIf]="isAuthenticated()">
            <li class="nav-item">
              <a
              class="nav-link"
              routerLink="/inventions"
              routerLinkActive="active"
              >Inventions</a>
            </li>
          </ng-template>
        </ul>
        <ul class="nav ml-auto">
          <ng-template [ngIf]="!isAuthenticated()">
            <li class="nav-item">
              <a
              id="signin"
              class="nav-link"
              routerLink="/signin"
              routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <a
                class="nav-link"
                routerLink="/registration"
                routerLinkActive="active">Register</a>
            </li>
          </ng-template>
  
          <ng-template [ngIf]="isAuthenticated()">
            <li class="nav-item">
              <a class="nav-link userName">User: {{ getUser() }}</a>
            </li>
            <li class="nav-item">
              <a id="logout-btn" class="nav-link" (click)="logout()">Logout</a>
            </li>
          </ng-template>
        </ul>
    </nav>
  </header>
  
