<mgl-map
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[6]"
    [center]="coordinates"
    [cursorStyle]="cursorStyle"
  >

  <mgl-geojson-source
      id="points"
      [data]="points"
  ></mgl-geojson-source>

  <mgl-layer
    id="points"
    source="points"
    type="symbol"
    [layout]="{
      'icon-image': '{icon}-15',
      'icon-size': 4,
      'icon-allow-overlap': false
    }"
    (click)="onClick($event)"
    (mouseEnter)="cursorStyle = 'pointer'"
    (mouseLeave)="cursorStyle = ''"
  ></mgl-layer>

  <mgl-popup
    *ngIf="selectedPoint"
    [lngLat]="selectedPoint.geometry.coordinates"
    (close)="selectedPoint = null"
  >
    <h4 [innerHTML]="selectedPoint.properties.title"></h4>
    <h6 [innerHTML]="selectedPoint.properties.place"></h6>
    <p>
      <span [innerHTML]="selectedPoint.properties.author"></span>,
      <span [innerHTML]="selectedPoint.properties.year"></span>
    </p>
  </mgl-popup>
</mgl-map>